
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.dbmdl
*.vs10x
*.orig
*.Cache
#Ignore Elmah logging directory
ElmahLogs/
*.psess
*.vsp
*.ReSharper
*.gpState
/*.sln.docstates
*.vsmdi

.idea
*.iml

.svn

.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
local.properties
.classpath
R.java

out